<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Blog</title>
    <link rel="stylesheet" href="homepage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>

  <style>
    hr {
  color: black;
  height: 30px;
 }
  </style>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
          <img src="travel-icon.png" alt="travel-icon" width="40px" height="40px">
            <a class="navbar-brand" href="#">AjayM Travel and Tour Guide</a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
                </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                       <li class="nav-item">
                       <a class="nav-link active" aria-current="page" href="home.page.html">Home</a>
                       </li>
                       <li class="nav-item">
                       <a class="nav-link" href="#">Gallery</a>
                       </li>
                       <li class="nav-item">
                       <a class="nav-link" href="#">About</a>
                       </li>

                       <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Book now
                       </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSdjpjePaYuuMwCXjoKHLErYbEXYLq4SohTSWKDjjOHacgk_3g/viewform?usp=pp_url">Plane tickets</a></li>
                       <li><a class="dropdown-item" href="#">Day Tour Services</a></li>
                       <li><hr class="dropdown-divider"></li>
                       <li><a class="dropdown-item" href="#">Something else here</a></li>
                       </li>
                    </ul>
                    </ul>
                  
              <form class="d-flex">
                 <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                 <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
           </div>
        </div>
    </nav>
  </header>

  <body>
    <br>
    <br>
    <div class="container">
      <div class="container section">
        <h1>HIKING</h1>
          <div class="row">
           <div class="col col-lg-6">
            <div class="card" style="width: 20rem">
                <div class="card-header">
                  <h5 class="card-title">Roaming the Trails: A Hiker's Paradise</h5>
                </div>
              <div class="card-body">
            <img src="hike1.jpg" class="card-img-top" alt="hike-image-1">   
            <p class="card-text">Welcome to "Roaming the Trails," the ultimate travel blog dedicated to all the adventure-seeking hiking enthusiasts out there. In this thrilling journey, we will take you across breathtaking landscapes, challenging terrains, and hidden gems that await your discovery. Lace up your boots, strap on your backpack, and get ready for an unforgettable hiking...</p>
          <a href="https://coconuts.co/kl/lifestyle/7-breathtaking-hiking-trails-in-klang-valley-that-will-leave-you-in-awe/" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      </div>
      <br>
      <br>

      <div class="col col-lg-6"> 
         <div class="card" style="width: 20rem;">
            <div class="card-header">
              <h5 class="card-title">Trails Less Traveled: Off-the-Beaten-Path Hiking Adventures</h5>
                </div>
                  <div class="card-body">
                  <img src="hike2.jpg" class="card-img-top" alt="hike-image-2">
                 <p class="card-text">Welcome to "Trails Less Traveled," a travel blog dedicated to the intrepid souls who seek to explore hidden hiking gems around the world. In this blog, we'll take you off the beaten path, away from the crowded trails, and into the embrace of nature's best-kept secrets. Get ready to uncover extraordinary landscapes, encounter unique flora and fauna, and create...</p>
              <a href="https://www.summitpost.org/mount-apo/483022" class="btn btn-primary">Read more...</a>
            </div>
          </div>
        </div>  
    </div>
    <br>
    <br>
  
      <h1>ISLAND HOPPING</h1>
          <div class="row ">
            <div class="col col-lg-6">
               <div class="card" style="width: 20rem">
                 <div class="card-header">
                  <h5 class="card-title">A Tropical Paradise for Island Hopping Enthusiast</h5>
                   </div>
                   <div class="card-body">
                 <img src="island-hopping1.jpg" class="card-img-top" alt="island-hopping-image-1">   
               <p class="card-text">Welcome to "Island Odyssey," the ultimate travel blog for those who dream of exploring stunning  archipelagos and hopping from one idyllic island to another. Join us as we embark on a journey through crystal-clear waters, pristine beaches, and vibrant cultures, discovering the wonders of island hopping. Get ready to set sail, island adventurers, as we uncover...</p>
             <a href="https://www.spot.ph/things-to-do/the-latest-things-to-do/67227/10-island-hopping-destinations-philippines-a00171-20160801-lfrm2" class="btn btn-primary">Read more...</a>
           </div>
        </div>
       </div>
       <br>
       <br>

      <div class="col col-lg-6">
        <div class="card" style="width: 20rem;">
            <div class="card-header">
              <h5 class="card-title">Island Odyssey: A Journey of Enchanting Island Hopping</h5>
                </div>
                  <div class="card-body">
                  <img src="island-hopping2.jpg" class="card-img-top" alt="island-hopping-image-2">
                 <p class="card-text">Welcome to "Island Odyssey," where we emberk on a captivating journey of island hopping through the world's most breathtaking archipelagos. From pristine beaches and crystal-clear waters to vibrant cultures and hidden treasures, join us as we navigate the seas and explore the wonders of these island paradises. Get ready to dive into azure waters, bask...</p>
              <a href="https://www.spot.ph/things-to-do/weekend-guides/89042/best-places-for-island-hopping-in-cebu-a4823-20220416-lfrm" class="btn btn-primary">Read more...</a>
            </div>
          </div>
       </div>
     </div>
   </div>
  </body>
  <br>
  <br>
  
  <hr>
    <article>
        <h4>Related articles</h4>
          <ul>
            <li><a href="https://dev.gotoeurope.com/paris-the-city-of-light-in-the-heart-of-europe/" target="_blank">The Timeless Charms of Paris: A City...</a></li>
            <li><a href="https://www.newyorker.com/magazine/2003/11/10/concrete-jungle" target="_blank">New York City: The Concrete Jungle</a></li>
            <li><a href="https://eurotrekker.com/list/exploring-the-eternal-city-a-guide-to-romes-best-neighborhoods/" target="_blank">Exploring the Eternal City: Rome's...</a></li>
            <li><a href="https://allabout-japan.com/en/article/4526/" target="_blank">"Tokyo: Where the Tradition Meets the...</a></li>
        </ul>
    </article>
    <hr>
    
   
      <div class="footer">
        <p><b>Contact Details</b><p>
        <p><b>Address:</b> Taguig City, Philippines</p>
        <p><b>Email:</b><a href="https://www.gmail.com/"> poortraveler@gmail.com</a><p>
        <p><b>Social Media</b></p>
        <a href="https://www.facebook.com/" target="_blank">
        <img src="facebook.png" width="30px" height="30px"/>
        <a href="https://www.instagram.com/" target="_blank">
        <img src="instagram.png" width="30px" height="30px">
      </div>
    


     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>